<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter utilisateur</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <h2>Ajouter un utilisateur</h2>

    <form th:action="@{/users/save}" th:object="${user}" method="post">

        <label>Nom</label>
        <input type="text" th:field="*{name}" placeholder="Entrer le nom">

        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

        <label>Email</label>
        <input type="text" th:field="*{email}" placeholder="Entrer l'email">

        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>

        <button type="submit">Ajouter</button>

    </form>

    <br>

    <a th:href="@{/users}">← Retour à la liste</a>

</div>

</body>
</html>